NEXT_PUBLIC_SUPABASE_URL=https://hpygtgxvyurjjztyblcz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_WuW7Eoc2av5yr65pBp_IOg_VWLm8BcS

# Optional platform API keys / JWT placeholders
NEXT_PUBLIC_MAPS_API_KEY=
NEXT_PUBLIC_CRASH_REPORTING_KEY=
